chatbot/.rasa
chatbot/env
flaskApi/__pycache__
flaskApi/product_images
flaskApi/models/*.pkl
node_modules
env
website/client/public/product_images
website/server/product_images
website/server/.env
# build